# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# VAADIN cache
swme_ui/src/main/webapp/VAADIN/gwt-unitCache

# target files
/target
/swme_domain/target
/swme_app/target
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# jetbrains
.idea/*
.iml
